* {
    padding: 0;
    margin: 0;
    font-family: "open-sans", sans-serif;
}


nav{
    display: flex;
    justify-content:space-between;
    margin:auto;
    background-color: chocolate;
    align-items: center;
    height: 60px;
    max-width: 1551px;
}

.one{
    display: flex;
    gap: 25px;
}

.logo{
    margin-left: 5px;
}

a{
    font-size: 24px;
    text-decoration: none;
    color: rgb(53, 49, 49);
}

.cmn-btn{
    color: rgb(255, 255, 255);
    background-color: rgb(28,79, 216);
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 8px;
    border-style: none;
    margin-right: 15px;
    cursor: pointer;
}

.hero{
    background-image: url(assets/banner.jpg);
     align-items: center;
    max-width: 1050px;
    height: 650px;
    margin: auto;
    margin-top: 0px;
}

.hero-child{
    text-align: center;
}

.hero-child h1{
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
}

.hero-child p{
    color: white;
    text-align: center;
    font-size: 25px;

}

.hero-child button{
    display:inline;
    margin: 220px auto 0;
}